@media (max-width: 1024px) {
  .content{
    flex-direction: column;
    padding-bottom: 5%;
  }
  .col{
    margin-bottom: 5%;
  }
  .header{
    margin-bottom: 3%;
  }
  .film{
    margin-top: 10%;
  }
}
@media (max-width: 768px) {
  .blood{
    background: #14131A;
  }
  .venom{
    top: 15%;
  }

}
@media (max-width: 576px) {
  .nav-menu{
    margin-left: auto;
  }
  .nav-menu__list{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform .2s;
  }
  .nav-menu__list.active{
    transform: translateX(0);
  }
  .nav-menu__item{
    margin: 2% 0;
  }
  .nav-menu__link{
    color: #14131A;

  }
  .menu-btn{
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    &__icon{
      margin-left: 10px;
    }
    &__close{
      position: fixed;
      top: 65px;
      right: 25px;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      border: none;
      color: #000000;
      cursor: pointer;
      z-index: 10;
      transform: translateX(300%);
      transition: transform .2s;
      opacity: 0;
      &-text{
        margin-right: 10px;
      }
    }
  }
  .menu-btn__close.active{
    transform: translateX(0);
    transition-delay: .2s;
    opacity: 1;
  }
  .film__text{
    text-align: center;
  }
  .film__button-items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .content__poster{
    flex-direction: column;
  }
  .content__poster-img{
    max-width: 350px;
    width: 100%;
    margin-bottom: 5%;
  }
  .content__trailer{
    max-width: 350px;
    width: 100%;
  }
  .content__list-act{
    column-count: 1;
  }

}