@import "../css/normalize.css";
body {
  background-color: #14131A;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 80px;
}
.header__logo-link {
  display: inline-block;
  margin-right: 50px;
}
.nav-menu__list {
  margin: 0;
  padding: 0;
  display: flex;
}
.nav-menu__item {
  margin-right: 30px;
}
.nav-menu__link {
  display: inline-block;
}

.film__text-date {
  display: block;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 2%;
}
.film__film-logo {
  width: 70%;
}
.film__text-description {
  margin-top: 3%;
  max-width: 423px;
}
.film__button-items {
  display: flex;
  margin-top: 5%;
}

.button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
}
.button-primary {
  background: #FFFFFF;
  border-radius: 5px;
  color: #8D0019;
  margin-right: 20px;
}
.button-text {
  font-size: 14px;
  line-height: 16px;
  margin-left: 10px;
}
.button-link {
  color: #ffffff;
}
.venom {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 728px;
  width: 50%;
}

.blood {
  background: url("../img/blood.png") no-repeat top right/70%, url("../img/bg.png") no-repeat center center/100%, #14131A;
}

.about {
  background: url("../img/bg.png") no-repeat center center/100%, #14131A;
}

.col {
  flex-basis: 50%;
}

.content {
  display: flex;
  justify-content: space-between;
}
.content__poster {
  display: flex;
  justify-content: start;
}
.content__poster-img {
  border-radius: 10px;
}
.content__title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
}
.content__description {
  max-width: 425px;
  margin-bottom: 30px;
}
.content__sub-title {
  margin: 0 0 15px 0;
  font-weight: 700;
}
.content__list-act {
  max-width: 320px;
  column-count: 2;
  margin-bottom: 30px;
  column-gap: 20px;
}
.content__list-item {
  line-height: 1.5;
}
.content__trailer {
  border-radius: 5px;
  width: 356px;
  height: 205px;
  background: url("../img/trailer_preview.jpg") no-repeat center center/contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__play {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
.content__play-icon {
  transform: translate(5%, 0);
}
.content__creators {
  margin-left: 30px;
}

.menu-btn {
  display: none;
}
.menu-btn__close {
  display: none;
}

@media (max-width: 1024px) {
  .content {
    flex-direction: column;
    padding-bottom: 5%;
  }

  .col {
    margin-bottom: 5%;
  }

  .header {
    margin-bottom: 3%;
  }

  .film {
    margin-top: 10%;
  }
}
@media (max-width: 768px) {
  .blood {
    background: #14131A;
  }

  .venom {
    top: 15%;
  }
}
@media (max-width: 576px) {
  .nav-menu {
    margin-left: auto;
  }

  .nav-menu__list {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.2s;
  }

  .nav-menu__list.active {
    transform: translateX(0);
  }

  .nav-menu__item {
    margin: 2% 0;
  }

  .nav-menu__link {
    color: #14131A;
  }

  .menu-btn {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
  }
  .menu-btn__icon {
    margin-left: 10px;
  }
  .menu-btn__close {
    position: fixed;
    top: 65px;
    right: 25px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    color: #000000;
    cursor: pointer;
    z-index: 10;
    transform: translateX(300%);
    transition: transform 0.2s;
    opacity: 0;
  }
  .menu-btn__close-text {
    margin-right: 10px;
  }

  .menu-btn__close.active {
    transform: translateX(0);
    transition-delay: 0.2s;
    opacity: 1;
  }

  .film__text {
    text-align: center;
  }

  .film__button-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .content__poster {
    flex-direction: column;
  }

  .content__poster-img {
    max-width: 350px;
    width: 100%;
    margin-bottom: 5%;
  }

  .content__trailer {
    max-width: 350px;
    width: 100%;
  }

  .content__list-act {
    column-count: 1;
  }
}

/*# sourceMappingURL=main.css.map */
