@import "../css/normalize.css";
body{

  background-color: #14131A;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
}
ul{
  list-style: none;
  padding: 0;
}
a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
img{
  max-width: 100%;
}
.container{
  //max-width: 1140px;
  width: 90%;
  margin: auto;
}
.header{
  display: flex;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 80px;
  &__logo-link{
    display: inline-block;
    margin-right: 50px;
  }
  &__logo-image{}
}
.nav-menu{
  &__list{
    margin: 0;
    padding: 0;
    display: flex;

  }
  &__item{
    margin-right: 30px;
  }
  &__link{
    display: inline-block;
  }
}
.film{
  &__text-date{
    display: block;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 2%;
  }
  &__film-logo{
    width: 70%;

  }
  &__text-description{
    margin-top: 3%;
    max-width: 423px;
  }
  &__button-items{
    display: flex;
    margin-top: 5%;
  }
}
.button{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  &-primary{
    background: #FFFFFF;
    border-radius: 5px;
    color: #8D0019;
    margin-right: 20px;
  }
  &-text{
    font-size: 14px;
    line-height: 16px;
    margin-left: 10px;
  }
  &-play{}
  &-link{
    color: #ffffff;
  }
  &-ticket{}
}
.venom{
  position: absolute;
  right: 0;
  top: 0;
  max-width: 728px;
  width: 50%;

}
.blood{
  background: url("../img/blood.png") no-repeat top right / 70%
  , url("../img/bg.png") no-repeat center center / 100%, #14131A;
}
.about{
  background: url("../img/bg.png") no-repeat center center / 100%, #14131A;
  //background-size: cover;
}
.col{
  flex-basis: 50%;
}
.content{
  display: flex;
  justify-content: space-between;
  &__poster{
    display: flex;
    justify-content: start;
  }
  &__poster-img{
    border-radius: 10px;
  }
  &__title{
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0;
  }
  &__description{
    max-width: 425px;
    margin-bottom: 30px;
  }
  &__sub-title{
    margin: 0 0 15px 0;
    font-weight: 700;
  }
  &__list-act{
    max-width: 320px;
    column-count: 2;
    margin-bottom: 30px;
    column-gap: 20px;
  }
  &__list-item{
    line-height: 1.5;
  }
  &__trailer{
    border-radius: 5px;
    width: 356px;
    height: 205px;
    background: url("../img/trailer_preview.jpg") no-repeat center center / contain;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__play{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
  }
  &__play-icon{
    transform: translate(5%,0);

  }
  &__creators{
    margin-left: 30px;
  }
}
.menu-btn{
  display: none;
  &__close{
    display: none;
  }
}


@import "media";